*{
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

.navbar{
    background-color: #EFECE3;
    height: 70px;
    display: flex;
    gap: 20px;
}

.logo img{
    height: 70px;
    width: 130px;
}

.loc{
    background-color: white;
    margin: 5px;
    height: 60px;
    width: 150px;
    border-radius: 10px;
}

.pin{
    margin: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin>i{
    color: #4A70A9;
}

.city{
    text-align: center;
    padding-left: 20px;
}

.stpwatch{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.stpwatch>i{
    color: #4A70A9;
}

.delivery{
    margin: 15px;
}

.search{
    display: flex;
    align-items: center;
}

input{
    height: 40px;
    width: 400px;
    font-size: 17px;
    padding-left: 5px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.4);
    
}

input:focus {
  outline: none;
}


button{
    height: 40px;
    width: 100px;
    font-size: 17px;
    background-color: #4A70A9;
    color: white;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.4);
}

button:hover{
    background-color: #8FABD4;
}

.signin{
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
}

.signin>a>i{
    font-size: 20px;
    margin-right: 5px;
    color: #4A70A9;
}

.signin:hover{
    border-radius: 10px;
    padding: 5px;
    background-color: #8FABD4;
    color: white;
}

.signin>a>i:hover{
    color: white;
}

.notification{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.notification:hover{
    border-radius: 50%;
    background-color: #8FABD4;
    color: white;
}

.cart{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.cart:hover{
    border-radius: 50%;
    padding: 10px;
    background-color: #8FABD4;
}

.notification>a>i{
    font-size: 20px;
    color: #4A70A9;
}

.notification>a>i:hover{
    color: white;
}

.cart>a>i{
    font-size: 20px;
    color: #4A70A9;
}

.cart>a>i:hover{
    color: white;
}